.bucket-viewer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  .files-folders {
    display: flex;
    flex: 1;
  }

  .bucket-info {
    display: flex;
    flex-direction: column;
  }

  .menu {
    margin-bottom: 0 !important;
  }
}
