.details-modal {
  .content.image {
    background-color: #f7f7f7a9 !important;
    .image {
      vertical-align: middle;
      display: flex;
      img {
        object-fit: contain !important;
      }
    }
  }
  .file-segment {
    padding-top: 0 !important;
  }
  .description {
    width: inherit !important;
  }

  .file-details {
    .item {
      margin-bottom: 8px;
    }
    .card-file-icon {
      display: flex;
      align-self: center;
      text-align: center;
      padding: 2em;
      color: #919191;
      height: 100%;
      vertical-align: middle;
      font-size: 3em;
    }
  }
}
