.bucket-bar {
  border-bottom: 1px solid rgba(204, 204, 204, 0.425);
  padding: 6px;
  .bucket-buttons {
  }
}

.menu {
  margin-bottom: 0 !important;
}

.bucket-path {
  display: flex;
  background-color: #f7f7f7a9;
  // padding: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgba(204, 204, 204, 0.541);
  div {
    display: flex;
    margin: 0 !important;
  }
}

.file-container {
  display: flex;
  padding: 10px;
  flex-wrap: wrap;
  justify-content: start;
  .file-card {
    max-height: 430px;
    cursor: pointer;
    .card-file-image {
      object-fit: contain;
      max-height: 300px !important;
    }
    .card-file-icon {
      display: flex;
      align-self: center;
      text-align: center;
      padding: 2em;
      color: #919191;
      height: 100%;
      vertical-align: middle;
      font-size: 3em;
    }
    div {
      object-fit: scale-down !important;
    }
  }
}

.file-list {
  .file-list-item {
    font-size: 1.4rem;
    margin-left: 6px;
  }
}

.modal-bold {
  font-weight: bold;
}
.file-details {
  .item {
    margin-bottom: 8px;
  }
  .card-file-icon {
    display: flex;
    align-self: center;
    text-align: center;
    padding: 2em;
    color: #919191;
    height: 100%;
    vertical-align: middle;
    font-size: 3em;
  }
}
.details-modal {
  .description {
    width: inherit !important;
  }
}

.files-folders {
  display: flex;
}
.folder-menu {
  z-index: 2;
}
