#root {
  height: 100%;
  > div {
    height: 100%;
  }
}

.bucket-settings {
  display: flex;
  justify-content: left;
  vertical-align: middle;
  span {
    div {
      margin: 10px;
    }

    border-right: 1px solid rgba(204, 204, 204, 0.541);
  }
  span:last-child {
    border-right: none;
  }
  border-bottom: 1px solid rgba(204, 204, 204, 0.425);
}
.menu {
  margin-bottom: 0 !important;
}

.bucket-path {
  display: flex;
  background-color: #f7f7f7a9;
  padding: 10px;
  border-bottom: 1px solid rgba(204, 204, 204, 0.541);
}

.file-container {
  padding: 10px;
}
