.form-container {
  padding: 3em;
}

.s3-form {
  width: 50%;
  margin: auto;
}

.s3-message {
  width: fit-content;
  height: fit-content;
  margin-left: auto !important;
  margin-right: auto !important;
  text-align: center;
}

.error-message {
  color: red;
}

@media (max-width: 479px) {
  .s3-form {
    width: 100%;
    margin: auto;
  }
}
